@using Data
@inject CartService CartService

@code {
    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public bool ShowBuyButton { get; set; }

    private void AddToCart()
    {
        CartService.AddToCart(Game);
    }

}

<li class="game-container">
    <div class="game-card">
        <a href="/game/@Game.ID">
            <img class="card-image" src="@Game.ImageLink" alt="@Game.Name" />
        </a>
    </div>
    <div class="card-body">
        <a href="/game/@Game.ID">
            <h4 class="card-title">@Game.Name</h4>
        </a>
        <p>@Game.Description</p>
        @if(Game.OriginalPrice > @Game.Price)
        {
            <h6 class="original-price">@Game.OriginalPrice</h6>
        }
        <h5 class="price">
            $@Game.Price
        </h5>
         @if (ShowBuyButton)
         {
            <div class="card-footer">
                <input type="number" id="quantity" name="quantity" min="1" max="5" value="1">
                <button @onclick="AddToCart">Add To Cart</button>
                
             </div>
         }
    </div>
</li>

